layout {
  cwd "~/Developer/sensortower/overseer/"

  default_tab_template {
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
    
      children

      pane size=2 borderless=true {
        plugin location="zellij:status-bar"
      }
  }

  tab name="vim" focus=true {
    pane name="VIM" {
      command "nvim"
      args "."
    }
  }

  tab name="GIT" {
    pane name="Lazygit" {
      command "lazygit"
    }
  }

  tab name="SERVER" {
    pane name="Server" {
      command "bin/shakapacker-dev-server"
    }

    panel name="Storybook" {
      command "yarn storybook"
    }
  }

  tab name="CLI" {
    pane name="Cli" {
    }
  }
}
