layout {
  cwd "~/Developer/sensortower/overseer/"

  default_tab_template {
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
    
      children

      pane size=2 borderless=true {
        plugin location="zellij:status-bar"
      }
  }

  tab name="vim" focus=true {
    pane name="vim" focus=true {
      command "nvim"
      args "."
    }
  }

  tab name="git" {
    pane name="Lazygit" {
      command "lazygit"
    }
  }

  tab name="server" {
    pane split_direction="vertical" {
      pane name="shakapacker" {
        command "bin/shakapacker-dev-server"
      }
      pane name="storybook" {
        command "yarn"
        args "storybook"
      }
    }
  }

  tab name="cli" {
    pane name="Cli" {
    }
  }
}
